.parent {
  width: 100%;

  align-self: center;

  position: relative;
}

.container {
  width: 100%;

  text-align: left;

  padding: 0.5rem 0.75rem;

  background: var(--white);
  border-radius: 4px;
  box-shadow: 0 0 24px rgba(0,0,0,0.05), 0 0 6px rgba(0,0,0,0.1);

  transition: border-color 0.4s, color 0.4s, box-shadow 0.4s;

  div {
    width: 100%;

    label {
      color: var(--gray-250);
      font-size: .73rem;

      margin-top: -.5rem;
      margin-bottom: 0.25rem;
    }

    input {
      color: var(--grafite);

      width: 100%;
      height: 100%;

      background: transparent;
      border: 0;

      &::placeholder {
        color: var(--grafite);
        opacity: .75;
      }
    }
  }
}

.containerFocused {
  width: 100%;

  text-align: left;

  padding: 0.5rem 0.75rem;

  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 24px var(--yellow-300-40), 0 0 6px var(--yellow-300-60);

  transition: border-color 0.4s, color 0.4s, box-shadow 0.4s;

  div {
    width: 100%;

    label {
      color: var(--gray-250);
      font-size: .73rem;

      margin-top: -.5rem;
      margin-bottom: 0.25rem;
    }

    input {
      color: var(--grafite);

      width: 100%;
      height: 100%;

      background: transparent;
      border: 0;

      &::placeholder {
        color: var(--grafite);
        opacity: .75;
      }
    }
  }
}

.containerFilled {
  width: 100%;

  text-align: left;

  overflow:visible;

  padding: 0.5rem 0.75rem;

  background: #FFFFFF;
  border-radius: 4px;

  box-shadow: 0 0 24px var(--green-100-40), 0 0 6px var(--green-100-40);

  transition: border-color 0.4s, color 0.4s, box-shadow 0.4s;

  div {
    width: 100%;

    label {
      color: var(--gray-250);
      font-size: .73rem;

      margin-top: -.5rem;
      margin-bottom: 0.25rem;
    }

    input {
      color: var(--grafite);

      width: 100%;
      height: 100%;

      background: transparent;
      border: 0;

      &::placeholder {
        color: var(--grafite);
        opacity: .75;
      }
    }
  }
}

.containerError {
  width: 100%;

  text-align: left;

  padding: 0.5rem 0.75rem;

  background: var(--white);
  border-radius: 4px;
  box-shadow: 0 0 20px var(--red-100-40), 0 0 6px var(--red-100-60);

  transition: border-color 0.4s, color 0.4s, box-shadow 0.4s;

  div {
    width: 100%;

    label {
      color: var(--gray-250);
      font-size: .73rem;

      margin-top: -.5rem;
      margin-bottom: 0.25rem;
    }

    input {
      color: var(--grafite);

      width: 100%;
      height: 100%;

      background: transparent;
      border: 0;

      &::placeholder {
        color: var(--grafite);
        opacity: .75;
      }
    }
  }
}

.error {
  width: 100%;

  font-size: .8rem;
  color: var(--red-100);
  text-align: left;

  padding-left: 1rem;
  margin-top: 0.25rem;
}

.suggestions {
  // display: flex;
  // flex-direction: column;

  position: absolute;

  margin-top: -.12rem;
  background: var(--white);

  list-style-type: none;
  z-index: 3;

  border-radius: 0 0 6px 6px;

  box-shadow: 0 .6rem 10px rgba(0,0,0,0.19), 0 0.6rem 6px rgba(0,0,0,0.23);

  li {
    width: 100%;
    padding: 1rem;

    background-color: var(--white);
    color: var(--grafite);

    cursor: pointer;

    transition: background-color 0.5s;

    &:hover {
      background-color: var(--yellow-300-40);
    }
  }

  .divider {
    border-bottom: 1px var(--gray-250) solid;
  }
}
