.menuItemContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 3rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  // padding-top: calc(1.5rem + 1px);
  // padding-bottom: 1.5rem;

  color: #FFFFFF;

  transition: box-shadow 0.5s, background-color 0.5s;
  transition: transform 0.3s ease-out, color 0.5s ease-out;
  box-shadow: none;

  transform: scale(1, 1);
  transform-origin: left;

  p {
    font-weight: 500;
  }

  &:hover {
    transform: scale(1.05, 1.03);
    transform-origin: left;

    border-radius: 0px 4px 4px 0px;

    background-color: var(--yellow-300);
    color: var(--grafite);

    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.16);

    padding-left: 1rem;

    p {
      font-weight: bold;
    }

    & .menuItemContent {
      transform: scale(calc(1 / 1.05), calc(1 / 1.03));

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &::after {
    content: '';
    height: 1px;
    border-radius: 1px 1px 0 0;
    position: absolute;
    bottom: 1px;
    left: 1.75rem;
    right:1.75rem;
    background: var(--gray-300);
    opacity: 0.25;
  }

  &:hover::after {
    display: none;
  }
}

.menuItemContainerSelected {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  // padding-top: calc(1.5rem + 1px);
  // padding-bottom: 1.5rem;
  z-index: 3;

  color: #FFFFFF;

  transition: box-shadow 0.5s, background-color 0.5s;
  transition: transform 0.3s ease-out, color 0.5s ease-out;

  transform: scale(1.05, 1.03);
  transform-origin: left;

  border-radius: 0px 4px 4px 0px;

  background-color: var(--yellow-300);
  color: var(--grafite);

  box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.16);

  // padding-left: 0.35rem;

  p {
    font-weight: bold;
  }

  & .menuItemContent {
    transform: scale(calc(1 / 1.05), calc(1 / 1.03));

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.menuItemContent {
  display: flex;
  align-items: center;

  svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }

  p {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
}

.menuItemSelected {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 18rem;
  height: 3rem;
  padding-left: 1rem;

  border-radius: 0px 4px 4px 0px;

  background-color: var(--yellow-300);
  color: var(--grafite);

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  transition: width 0.5s;
  transition: background-color 0.5s;
  transition: box-shadow 0.5s;

  & + div {
    margin-top: 1rem;
  }

  svg {
    font-size: 1.25rem;
    margin-right: 0.5rem;
  }

  p {
    font-weight: bold;
    margin-left: 0.5rem;
  }
}

.bottomDash {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: '';
    height: 1px;
    border-radius: 1px 1px 1px 1px;
    width: 75%;
    background: var(--gray-300);
  }
}
