@keyframes loaderAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.loader {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderRing {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
}

.loaderRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border: 0.5rem solid var(--gray-250);
  border-radius: 50%;
  animation: loaderAnim 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--gray-250) transparent transparent transparent;
}

.loaderRing div:nth-child(1) {
  animation-delay: -0.1s;
}

.loaderRing div:nth-child(2) {
  animation-delay: -0.15s;
}

.loaderRing div:nth-child(3) {
  animation-delay: -0.1s;
}
