.loader {
  align-self: center;
  border: 1rem solid var(--gray-100); /* Light grey */
  border-top: 1rem solid var(--grafite); /* Blue */
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  animation: spin 2s linear infinite;
}
