@import '../../../public/styles/__dimensions.scss';

.sellsContainer {
  // min-height: 100%;
  display: flex;
  flex-direction: column;

  overflow: auto;
  height: calc(100vh - 3rem);

  padding: 2rem;

  .sellsHeader {
    display: flex;

    min-height: 3rem;

    button + button {
      margin-left: 1rem;

      @media screen and (min-width: $desktop-size) {
        margin-left: 1.5rem;
      }
    }
  }

  .sellsContent {
    flex: 1;
    display: flex;
    flex-direction: column;

    .sellsOptions {
      margin-bottom: 1.25rem;

      .contentFilters {
        flex: 1;

        display: flex;
        flex-direction: row;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
          'button button button button'
          'search search search search';
        column-gap: 1.5rem;
        row-gap: 1rem;

        @media screen and (min-width: $desktop-size) {
          width: 80%;
        }

        button + button {
          // margin-left: 1rem;
        }

        .searchContainer {
          grid-area: search;

          @media screen and (min-width: $tablet_vertical) {
            display: block;

            flex: 1;
            margin-left: 2rem;
          }
        }

        .datePopupContainer {
          flex: 1;
          display: flex;
        }
      }
    }

    .orderStatusButtons {
      display: flex;
      flex-direction: row;
      // justify-content: space-between;

      margin-bottom: 1rem;

      > div + div {
        margin-top: 0;
        margin-left: 1rem;
      }
    }

    .emptyList {
      // flex: 1;
      margin-top: auto;
      margin-bottom: auto;
      justify-self: center;
      align-self: center;
      text-align: center;

      color: var(--gray-300);
    }

    .table {
      width: 100%;

      border: 1px solid var(--yellow-300);
      border-radius: 4px;
      box-shadow: 0 2px 3px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.05);

      .tableHeader {

        th {
          text-align: left;
          padding: 1rem 1rem;
          font-size: 0.8rem;
          font-weight: bold;
        }

        th:first-child {
          padding-left: 1rem;
        }
      }

      .tableBody {
        padding: 0 0.5rem;
        background-color: var(--white);

        .tableItem {
          height: 5rem;
          align-items: center;
          margin: 1rem 1rem;

          text-align: center;

          transition: background-color 0.2s;

          font-size: 0.9rem;

          @media screen and (min-width: $tablet_vertical) {
            font-size: 1rem;
          }

          &:hover {
            background-color: var(--yellow-50-50);
          }

          td {
            // padding: 1.25rem 1rem;
            padding: 1rem;
          }

          #nameCell {
            text-align: left;
          }

          #itemsCell {
            text-align: left;
            color: var(--gray-300);
          }

          #dateCell {
            min-width: 5rem;
            max-width: 8rem;
          }

          #valueCell {
            min-width: 4rem;
            max-width: 8rem;

            @media screen and (min-width: $tablet_vertical) {
              min-width: 6rem;
              max-width: 12rem;
            }
          }

          #actionCell {
            width: 10rem;
            cursor: pointer;
            text-decoration: underline;
          }

          #attachmentCell {
            width: 12rem;
          }
        }
      }
    }
  }
}

.greenText {
  color: var(--green-100);
}

.redText {
  color: var(--red-100);
}

.orangeText {
  color: var(--orange-100);
}

.blueText {
  color: var(--blue-100);
}

.grayText {
  color: var(--gray-300);
}

.divider {
  display: flex;
  width: 100%;
  padding: 1px 0;
  margin: 1.5rem 0;
  background-color: var(--gray-300);
  opacity: 0.5;
}

.verticalDivider {
  display: flex;
  width: 1.7px;
  height: 2.2rem;
  margin: 0 0.75rem;
  background-color: var(--gray-300);
  opacity: 0.5;
}
