.parent {
  display: flex;
  flex-direction: column;

  height: fit-content;

  > div {
    flex: 1;

    display: flex;
    flex-direction: column;

    margin: 0.25rem;
    padding: 0.75rem 1rem;

    background: #ffffff;
    border-radius: 4px;

    transition: border-color 0.4s, color 0.4s, box-shadow 0.4s;
  }

  .inputLabel {
    font-size: 0.73rem;

    margin-bottom: 0.25rem;
  }

  input {
    flex: 1;

    border: 0;

    color: var(--grafite);

    background: transparent;

    &::placeholder {
      color: var(--gray-300);
      opacity: 0.75;
    }
  }
}

.hintedContainer {
  flex: 1;

  display: flex;
}

.container {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.05), 0 0 6px rgba(0, 0, 0, 0.1);

  .inputLabel {
    color: var(--gray-250);
  }
}

.containerDisabled {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.05), 0 0 6px rgba(0, 0, 0, 0.1);

  opacity: 0.9;

  transition: border-color 0.5s, color 0.5s, box-shadow 0.5s, opacity 0.5s;

  .inputLabel {
    color: var(--gray-250);

    opacity: 0.5;
  }

  input {
    opacity: 0.5;
  }
}

.containerError {
  box-shadow: 0 0 24px var(--red-100-40), 0 0 6px var(--red-100-60);

  .inputLabel {
    color: var(--red-100);
  }
}

.containerFocused {
  box-shadow: 0 0 20px var(--yellow-300-40), 0 0 6px var(--yellow-300-60);

  .inputLabel {
    color: var(--gray-300);
  }
}

.containerFilled {
  box-shadow: 0 0 20px var(--green-100-40), 0 0 6px var(--green-100-40);

  .inputLabel {
    color: var(--gray-300);
  }
}

.error {
  width: 100%;

  font-size: 0.8rem;
  color: var(--red-100);
  text-align: left;

  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.counter {
  float: right;
}
