@import '../../../public/styles/_dimensions';

.button {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.6rem;

  background-color: var(--white);

  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06), 0 2px 4px rgba(0,0,0,0.12);

  transition: background-color 0.5s, padding 0.2s;

  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 0.75rem;
  font-weight: 500;

  > svg {
    color: var(--grafite);
    width: 1.25rem;
    height: 1.25rem;

    @media screen and (min-width: $tablet_vertical) {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }
  }

  &:hover {
    // padding-left: 0.75rem;
    // padding-right: 0.75rem;
    background-color: var(--yellow-300);
  }
}

.buttonActive {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.6rem;

  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06), 0 2px 4px rgba(0,0,0,0.12);

  background-color: var(--yellow-300);

  transition: background-color 0.2s, padding 0.2s;

  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 0.75rem;
  font-weight: 500;

  > svg {
    color: var(--grafite);
    width: 1.25rem;
    height: 1.25rem;

    @media screen and (min-width: $tablet_vertical) {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }
  }
}
