.variationContainer {
  display: grid;
  // grid-template-areas: 'item item item button';  //item';
  grid-template-columns: .35fr 1fr 1fr 1fr .25fr; //.6fr .75fr .75fr .6fr;
  column-gap: .75rem;

  > span {
    align-self: center;
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
  }

  > button {
    border: none;
    background: none;

    svg {
      width: 2rem;
      height: 2rem;

      color: var(--red-100);

      transition: color 0.5s;

      &:hover {
        color: var(--red-400);
      }
    }
  }
}

.variationContainerMobile {
  display: flex;
  flex-direction: column;

  > span {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;

    margin-bottom: 1rem;
  }

  .fieldsContainer {
    display: grid;
    // grid-template-areas: 'item item item';  //item';
    grid-template-columns: 1fr 1fr 1fr; //.6fr .75fr .75fr .6fr;
    column-gap: .75rem;
  }
}

.variationContainerMobile + .variationContainerMobile {
  margin-top: 1rem;
}

.variationContainer + .variationContainer {
  margin-top: 1rem;
}

.grid3{
  grid-template-columns: .35fr 1fr 1fr 1fr 1fr .25fr;
}

.grid4{
  grid-template-columns: .35fr 1fr 1fr .35fr .35fr 1fr .25fr;
}

.gridMobile3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: .75rem;
  row-gap: .75rem;
}

.gridMobile4{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: .75rem;
  row-gap: .75rem;
}

.mobileDivisor {
  display: flex;
  flex-direction: row;
  // grid-template-columns: 1fr 2.5rem;
  column-gap: .75rem;

  > button {
    border: none;
    background: none;

    align-self: center;

    svg {
      width: 2.5rem;
      height: 2.5rem;

      color: var(--red-100);

      transition: color 0.5s;

      &:hover {
        color: var(--red-400);
      }
    }
  }
}
