@import '../../../public/styles/__dimensions.scss';

@keyframes outsideAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.menuOpen {
  z-index: 3;

  display: flex;
  flex-direction: column;
  background: var(--grafite);

  border-radius: 0px 6px 6px 0px;
  box-shadow: 16px 0px 52px -28px rgba(0,0,0,0.5);

  width: 14rem;
  height: 100vh;

  text-align: left;
  position: fixed;
  top: 0;
  left: 0;

  transition: transform 0.5s ease-in-out;
  transform: translateX(0);

  @media(min-width: 1400px) {
    width: 15rem;
  }

  h1 {
    color: #FFFFFF;
  }
}

.menuClosed {
  z-index: 3;

  display: flex;
  flex-direction: column;
  background: var(--grafite);

  border-radius: 0px 6px 6px 0px;
  box-shadow: 16px 0px 52px -28px rgba(0,0,0,0.5);

  width: 14rem;
  height: 100vh;

  text-align: left;
  position: fixed;
  top: 0;
  left: 0;

  transition: transform 0.5s ease-in-out;
  transform: translateX(-150%);

  h1 {
    color: #FFFFFF;
  }
}

.menuHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1.25rem;
  margin-bottom: 0.75rem;

  > svg {
    width: 2rem;
    height: 2rem;

    transition: filter 0.5s;

    &:hover {
      filter: brightness(0.8);
    }

    @media screen and (min-width: $desktop-small-size) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  img {
    width: 8rem;
  }
}

.outside {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--grafite);

  opacity: 0.5;

  animation: outsideAppear 0.5s;

  z-index: 2;
}
