.popupContainer {
  position: absolute;
  z-index: 9;

  display: flex;
  width: 13rem;
  // height: 12.5rem;
  padding: 0.75rem;

  border-radius: 4px;
  background: var(--yellow-300);
  box-shadow: 0px 0px 3rem rgba(0,0,0,0.12), 0 0px 2rem rgba(0,0,0,0.11);

  transition: display 0.2s;

  form {
    width: 100%;

    display: flex;
    flex-direction: column;
    // padding: 1rem;

    align-items: center;

    > button {
      cursor: pointer;
      // width: 4rem;
      padding: 0.5rem 1.5rem;
      margin-top: 1rem;

      border: 0;
      border-radius: 4px;
      font-size: 1rem;
      color: var(--white);
      background-color: var(--grafite);

      transition: color 0.5s, background-color 0.5s, font-weight 0.5s;

      &:hover {
        color: var(--grafite);
        background-color: var(--white);
        font-weight: bold;
      }
    }

    > span {
      cursor: pointer;
      font-size: 1rem;
      font-weight: lighter;
      color: var(--gray-400);

      transition: color 0.4s;

      margin-top: 1rem;

      &:hover {
        color: var(--white);
      }
    }
  }
}

.popupContainerHide {
  display: none;

  transition: display 0.2s;
}
