.container {
  margin: 0.25rem;

  padding: 0.5rem 0.75rem;

  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 24px rgba(0,0,0,0.05), 0 0 6px rgba(0,0,0,0.1);

  transition: border-color 0.4s, color 0.4s, box-shadow 0.4s;

  div {
    width: 100%;

    label {
      color: var(--gray-250);
      font-size: .73rem;

      margin-top: -.5rem;
      margin-bottom: 0.25rem;
    }

    textarea {
      width: 100%;

      color: var(--grafite);
      background: transparent;
      border: 0;

      &::placeholder {
        color: var(--grafite);
        opacity: .75;
      }
    }
  }
}

.containerDisabled {
  margin: 0.25rem;

  padding: 0.5rem 0.75rem;

  background: var(--gray-100);
  border-radius: 4px;
  box-shadow: 0 0 24px rgba(0,0,0,0.05), 0 0 6px rgba(0,0,0,0.1);

  opacity: 0.9;

  transition: border-color 0.5s, color 0.5s, box-shadow 0.5s, opacity 0.5s;

  div {
    width: 100%;

    opacity: 0.5;

    label {
      color: var(--gray-250);
      font-size: .73rem;

      margin-top: -.5rem;
      margin-bottom: 0.25rem;
    }

    textarea {
      color: var(--grafite);
      width: 100%;
      background: transparent;
      border: 0;

      &::placeholder {
        color: var(--grafite);
        opacity: .75;
      }
    }
  }
}

.containerError {
  margin: 0.25rem;

  padding: 0.5rem 0.75rem;

  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 24px var(--red-100-40), 0 0 6px var(--red-100-60);

  transition: border-color 0.4s, color 0.4s, box-shadow 0.4s;

  div {
    width: 100%;

    label {
      color: var(--red-100);
      font-size: .73rem;

      margin-top: -.5rem;
      margin-bottom: 0.25rem;
    }

    textarea {
      color: var(--grafite);
      width: 100%;
      background: transparent;
      border: 0;

      &::placeholder {
        color: var(--grafite);
        opacity: .75;
      }
    }
  }
}

.containerFocused {
  margin: 0.25rem;

  padding: 0.5rem 0.75rem;

  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 20px var(--yellow-300-40), 0 0 6px var(--yellow-300-60);

  transition: border-color 0.4s, color 0.4s, box-shadow 0.4s;

  div {
    width: 100%;

    label {
      color: var(--gray-300);
      font-size: .73rem;

      margin-top: -.5rem;
      margin-bottom: 0.25rem;
    }

    textarea {
      color: var(--grafite);
      width: 100%;
      background: transparent;
      border: 0;

      &::placeholder {
        color: var(--grafite);
        opacity: .75;
      }
    }
  }
}

.containerFilled {
  margin: 0.25rem;

  overflow:visible;

  padding: 0.5rem 0.75rem;

  background: #FFFFFF;
  border-radius: 4px;

  box-shadow: 0 0 20px var(--green-100-40), 0 0 6px var(--green-100-40);

  transition: border-color 0.4s, color 0.4s, box-shadow 0.4s;

  div {
    width: 100%;

    label {
      color: var(--gray-300);
      font-size: .73rem;

      margin-top: -.5rem;
      margin-bottom: 0.25rem;
    }

    textarea {
      color: var(--grafite);
      width: 100%;
      background: transparent;
      border: 0;

      &::placeholder {
        color: var(--grafite);
        opacity: .75;
      }
    }
  }
}


.error {
  width: 100%;

  font-size: .8rem;
  color: var(--red-100);
  text-align: left;

  padding-left: 1rem;
  margin-bottom: 0.5rem;
}
