@import '../../../public/styles/_dimensions';

.panelItemContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  padding: 1.5rem 0.5rem;

  & + div {
    border-left: 1px solid var(--gray-100);
  }

  button {
    display: flex;
    background-color: var(--white);
    border: 0;

    color: var(--grafite);
    transition: color 0.2s;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }

    &:hover {
      color: var(--yellow-300);
    }
  }

  p {
    font-size: 0.75rem;
    height: 2rem;
  }

  span {
    font-size: 1rem;
    font-weight: bold;

    @media screen and (min-width: $tablet_vertical) {
      font-size: 1.1rem;
    }

    @media screen and (min-width: $desktop-small-size) {
      font-size: 1.25rem;
    }
  }

  .green {
    color: var(--green-100);
  }

  .red {
    color: var(--red-100);
  }

  .orange {
    color: var(--orange-100);
  }

  .blue {
    color: var(--blue-100);
  }

  .gray {
    color: var(--gray-300);
  }

  .yellow {
    color: var(--yellow-300);
  }
}
