.dashboardContainer {
  padding: 1rem;

  height: 100%;

  overflow: auto;
}

.dashboardContent {
  width: 100%;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'panel1 panel2'
    'panel3 panel4';
}

.panelShortcuts {
  height: 26rem;
  justify-self: stretch;
  margin: 1rem;

  > span {
    font-weight: 500;
    color: var(--gray-300);
    margin-bottom: 1rem;
  }

  .shortcutsArea {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left right';
  }
}
