@import '../../../public/styles/_dimensions';

.dashboardContainer {
  width: 100%;
  height: calc(100vh - 6rem);

  @media screen and (min-width: $desktop-small-size) {
    height: calc(100vh - 5rem);
  }

  padding: 1rem;

  overflow: auto;
}

.dashboardContent {
  flex: 1;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  @media screen and (min-width: $desktop-size) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.panelShortcuts {
  height: 26rem;
  justify-self: stretch;
  margin: 1rem;

  > span {
    font-weight: 500;
    color: var(--gray-300);
    margin-bottom: 1rem;
  }

  .shortcutsArea {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left right';
  }
}
