@import '../../../public/styles/__dimensions.scss';

.productsContainer {
  display: flex;
  flex-direction: column;

  height: calc(100% - 4rem);
  width: 100%;

  overflow: auto;

  padding: 2rem;
  padding-left: 2.5rem;

  .productsHeader {
    // flex: 1;
    min-height: 3rem;

    display: flex;

    button + button {
      margin-left: 2rem;
    }
  }

  .divider {
    width: 100%;
    padding: 1px 0;
    margin: 1.5rem 0 0.5rem 0;
    background-color: var(--gray-300);
    opacity: 0.5;
  }

  .productsContent {
    // flex: 1;
    display: flex;
    flex-direction: column;

    // height: 20%;

    padding: 1rem;

    .productsOptions {
      margin-bottom: 1rem;

      .contentFilters {
        // width: 50%;
        flex: 1;

        display: flex;
        flex-direction: row;

        align-items: center;

        button + button {
          margin-left: 1rem;
        }

        form {
          flex: 1;
        }
      }
    }

    .emptyList {
      flex: 1;
      margin-top: auto;
      margin-bottom: auto;
      justify-self: center;
      align-self: center;
      text-align: center;

      color: var(--gray-300);
    }

    .switchSubtitle {
      font-size: 0.8rem;
      font-weight: lighter;
    }
  }
}

.greenText {
  color: var(--green-100);
}

.redText {
  color: var(--red-100);
}

.orangeText {
  color: var(--orange-100);
}

.blueText {
  color: var(--blue-100);
}

.grayText {
  color: var(--gray-300);
}

