.root {
  display: flex;

  height: 2.425rem !important;
  width: 4rem !important;
  padding: 0.5rem !important;

  margin-top: 0.2rem;
}

.thumb {
  width: 1.25rem !important;
  height: 1.25rem !important;

  margin-top: -0.4rem;

  color: var(--green-100);
  transition: color 0.2s;
}

.thumbUnchecked {
  width: 1.25rem !important;
  height: 1.25rem !important;

  margin-top: -0.4rem;
  margin-left: -0.25rem;

  color: var(--gray-300);
  transition: color 0.2s;
}

.track {
  border-radius: 1rem !important;

  box-shadow: 0 0 6px var(--green-100-25), 0 0 8px var(--green-100-22);
  opacity: 0.5;

  transition: box-shadow 0.2s;
}

.trackUnchecked {
  background-color: white !important;
  border-radius: 1rem !important;

  box-shadow: 0 0 6px rgba(0,0,0,0.25), 0 0 8px rgba(0,0,0,0.22);

  transition: box-shadow 0.2s;
}


.checked {
  transform: translateX(1.1rem) !important;
}
