.profileContainer {
  height: calc(100vh - 3rem);
  padding: 2rem;

  display: flex;
  flex-direction: column;

  overflow: auto;

  > header {
    height: 144px;
    background: #28262e;

    display: flex;
    align-items: center;

    div {
      width: 100%;
      max-width: 1120px;
      margin: 0 auto;

      svg {
        color: #999591;
        width: 24px;
        height: 24px;
      }
    }
  }

  .profileContent {
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow: visible;

    > h3 {
      text-align: center;

      margin-bottom: 1.25rem;

      font-weight: bold;

      opacity: 0.75;
    }

    form {
      text-align: center;

      display: flex;
      flex-direction: column;

      align-items: center;

      .saveButton {
        margin-top: 2.5rem;
        padding: 1rem;

        align-self: center;

        border: none;
        border-radius: 4px;
        background-color: var(--yellow-300);

        color: var(--grafite);

        transition: background-color 0.5s, color 0.5s;

        &:hover {
          background-color: var(--grafite);
          color: var(--white);
        }
      }

      .avatarInput {
        align-self: center;
      }

      .formsContainer {
        flex: 1;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;

        // display: flex;

        // > div:first-child {
        //   margin-right: 1rem;
        // }

        // > div:last-child {
        //   margin-left: 1rem;
        // }

        h3 {
          font-weight: bold;
          margin-bottom: 1.5rem;
        }

        .personal {
          // grid-area: personal;

          display: flex;
          flex-direction: column;

          > div + div {
            margin-top: .75rem;
          }
        }

        .seller {
          // grid-area: seller;

          display: flex;
          flex-direction: column;

          > div + div {
            margin-top: .75rem;
          }

          .doubleField {
            display: grid;
            grid-template-columns: 1fr .75fr;
            column-gap: 1rem;

            @media (max-width: 1250px) {
              display: inline-block;

              width: 100%;

              > div + div {
                margin-top: .75rem;
              }
            }
          }
        }

        .store {
          // grid-area: store;

          display: flex;
          flex-direction: column;

          > div + div {
            margin-top: .75rem;
          }

          .doubleField {
            display: grid;
            grid-template-columns: 1fr .75fr;
            column-gap: 1rem;

            // display: flex;
            // column-gap: 1rem;

            // div:first-child {
            //   flex: 1;
            // }

            @media (max-width: 1250px) {
              display: inline-block;

              width: 100%;

              > div + div {
                margin-top: .75rem;
              }
            }
          }
        }
      }
    }
  }
}
