@import "../../../public/styles/_dimensions";

@keyframes appearFromRight {
  0% {
    display: none;
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    display: flex;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appearFromLeft {
  0% {
    display: none;
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    display: flex;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes disappearInRight {
  0% {
    display: flex;
    opacity: 1;
  }
  100% {
    display: none;
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes disappearInLeft {
  0% {
    display: flex;
    opacity: 1;
  }
  100% {
    display: none;
    transform: translateX(-50%);
    opacity: 0;
  }
}



.flow {
  // grid-area: personal;

  display: flex;
  flex-direction: column;

  > div + div {
    margin-top: .75rem;
  }

  .doubleField {
    display: grid;
    grid-template-columns: 1fr .75fr;
    column-gap: 1rem;

    @media (max-width: 1250px) {
      display: inline-block;

      width: 100%;

      > div + div {
        margin-top: .75rem;
      }
    }
  }
}

.flowUnset {
  // grid-area: personal;

  display: none;
  flex-direction: column;

  > div + div {
    margin-top: .75rem;
  }

  .doubleField {
    display: grid;
    grid-template-columns: 1fr .75fr;
    column-gap: 1rem;

    @media (max-width: 1250px) {
      display: inline-block;

      width: 100%;

      > div + div {
        margin-top: .75rem;
      }
    }
  }
}

.flowAppearFromRight {
  // grid-area: personal;

  animation: appearFromRight 1s;

  flex-direction: column;

  > div + div {
    margin-top: .75rem;
  }

  .doubleField {
    display: grid;
    grid-template-columns: 1fr .75fr;
    column-gap: 1rem;

    @media (max-width: 1250px) {
      display: inline-block;

      width: 100%;

      > div + div {
        margin-top: .75rem;
      }
    }
  }
}

.flowAppearFromLeft {
  animation: appearFromLeft 1s;

  flex-direction: column;

  > div + div {
    margin-top: .75rem;
  }

  .doubleField {
    display: grid;
    grid-template-columns: 1fr .75fr;
    column-gap: 1rem;

    @media (max-width: 1250px) {
      display: inline-block;

      width: 100%;

      > div + div {
        margin-top: .75rem;
      }
    }
  }
}

.flowDisappearFromRight {
  animation: disappearInRight 1s;

  display: none;
  flex-direction: column;

  > div + div {
    margin-top: .75rem;
  }

  .doubleField {
    display: grid;
    grid-template-columns: 1fr .75fr;
    column-gap: 1rem;

    @media (max-width: 1250px) {
      display: inline-block;

      width: 100%;

      > div + div {
        margin-top: .75rem;
      }
    }
  }
}

.flowDisappearFromLeft {
  animation: disappearInLeft 1s;

  display: none;
  flex-direction: column;

  > div + div {
    margin-top: .75rem;
  }

  .doubleField {
    display: grid;
    grid-template-columns: 1fr .75fr;
    column-gap: 1rem;

    @media (max-width: 1250px) {
      display: inline-block;

      width: 100%;

      > div + div {
        margin-top: .75rem;
      }
    }
  }
}

.profileContainer {
  height: calc(100vh - 3rem);

  @media screen and (min-width: $desktop-small-size) {
    height: calc(100vh - 4rem);
  }

  @media screen and (min-width: $desktop-size) {
    height: calc(100vh - 5rem);
  }

  padding: 2rem;

  display: flex;
  flex-direction: column;

  overflow: auto;

  > header {
    height: 144px;
    background: #28262e;

    display: flex;
    align-items: center;

    div {
      width: 100%;
      max-width: 1120px;
      margin: 0 auto;

      svg {
        color: #999591;
        width: 24px;
        height: 24px;
      }
    }
  }

  .profileContent {
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow: visible;

    > h3 {
      text-align: center;

      margin-bottom: 1.25rem;

      font-weight: bold;

      opacity: 0.75;
    }

    form {
      flex: 1;

      text-align: center;

      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: center;

      .avatarInput {
        align-self: center;
      }

      .controllerContainer {
        width: 100%;

        display: flex;

        column-gap: 1.5rem;

        @media screen and (min-width: $tablet_vertical) {
          column-gap: 0;
        }

        > button:enabled {
          margin-top: auto;
          margin-bottom: auto;

          border: 0;
          background: transparent;

          svg {
            width: 2.5rem;
            height: 2.5rem;

            align-self: center;

            opacity: 0.25;

            transition: all 0.5s;

            @media screen and (min-width: $tablet_vertical) {
              width: 4rem;
              height: 4rem;
            }
          }

          &:hover {
            svg {
              color: var(--yellow-300);
              opacity: 0.75;
            }
          }
        }

        > button:disabled {
          margin-top: auto;
          margin-bottom: auto;

          border: 0;
          background: transparent;

          cursor: default;

          svg {
            width: 2.5rem;
            height: 2.5rem;

            align-self: center;

            opacity: 0;

            transition: all 0.5s;

            @media screen and (min-width: $tablet_vertical) {
              width: 4rem;
              height: 4rem;
            }
          }
        }

        .rightButton {
          margin-left: auto;
        }

        .leftButton {
          margin-right: auto;
        }
      }

      .formsContainer {
        flex: 1;

        display: flex;
        // align-items: center;
        // justify-self: center;
        justify-content: center;

        h3 {
          font-weight: bold;
          margin-bottom: 1.5rem;
        }

        > div {
          // max-width: 700px;
          flex: 1;

          margin-right: 1rem;
          margin-left: 1rem;

          @media screen and (min-width: $tablet_vertical) {
            max-width: 400px;
          }

          @media screen and (min-width: $desktop-small-size) {
            max-width: 700px;
          }
        }
      }
    }

    .buttonsContainer {
      align-self: center;

      margin-top: 2.5rem;

      display: flex;
      column-gap: 1rem;

      .backButton {
        padding: 1rem;

        align-self: center;

        border: none;
        border-radius: 4px;
        background-color: var(--grafite);

        color: var(--white);

        transition: all 0.5s;

        &:disabled {
          display: none;
        }

        &:hover {
          background-color: var(--yellow-300);
          color: var(--black);
        }
      }

      .nextButton {
        padding: 1rem;

        align-self: center;

        border: none;
        border-radius: 4px;
        background-color: var(--yellow-300);

        color: var(--grafite);

        transition: background-color 0.5s, color 0.5s;

        &:disabled {
          display: none;
        }

        &:hover {
          background-color: var(--grafite);
          color: var(--white);
        }
      }

    }
  }
}
