@import '../../../public/styles/_dimensions';

.openMenu {
  height: 100vh;

  transition: margin-left 0.5s;
  transition-delay: 0.2s;

  overflow: hidden;

  @media screen and (min-width: $tablet_vertical) {
    margin-left: 15rem;
  }
}

.closedMenu {
  height: 100vh;
  margin-left: 0;

  transition: margin-left 0.5s;

  overflow: hidden;
}

.container {
  height: 100%;

  overflow: hidden;
}
