@import '../../../public/styles/_dimensions';

.openMenu {
  height: 100vh;

  transition: margin-left 0.5s;
  transition-delay: 0.2s;

  overflow: hidden;

  @media screen and (min-width: $tablet_vertical) {
    margin-left: 15rem;
  }
}

.closedMenu {
  height: 100vh;
  margin-left: 0;

  transition: margin-left 0.5s;

  overflow: hidden;
}

.container {
  height: 100%;

  overflow: hidden;
}

.modalContent {
  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: center;

  .loader {
    align-self: center;
    border: 1rem solid var(--gray-100);
    border-top: 1rem solid var(--grafite);
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    animation: spin 2s linear infinite;
  }

  p {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--grafite);
  }

  > svg {
    width: 5rem;
    height: 5rem;

    margin-bottom: 2rem;
  }
}
