.menuButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    transition: width 0.2s, height 0.2s;

    svg {
      transition: color 0.5s;
    }

    &:hover {
      svg {
        color: var(--yellow-100);
      }
    }
}
