.itemCard {
  flex: 1;

  display: flex;
  flex-direction: column;

  background-color: var(--white);
  border-radius: 6px;

  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);

  .cardDivider {
    display: flex;
    width: 100%;
    padding: 0.5px 0;
    background-color: var(--gray-300);
    opacity: 0.5;
  }

  .cardBody {
    flex: 1;
    display: flex;

    padding: 1rem 1rem 0.5rem 1rem;

    .cardImg {
      width: 6rem;
      height: 6rem;

      display: flex;

      align-self: center;
      align-items: center;
      justify-content: center;

      background-color: var(--gray-50);
      border-radius: 50%;

      img {
        width: 6rem;
        height: 6rem;

        object-fit: fill;

        background-color: var(--gray-50);
        border-radius: 50%;
      }

      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    .itemInfo {
      flex: 1;

      display: flex;
      flex-direction: column;

      margin-left: 1rem;

      .itemName {
        font-size: 1.25rem;
        font-weight: bold;
      }

      .value {
        font-size: 1.25rem;
        font-weight: bold;

        margin-top: 1rem;
      }
    }

    .switchContainer {
      display: flex;
      flex-direction: column;

      margin-left: auto;
      margin-top: -0.5rem;

      align-items: center;

      .stockContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: auto;

        span:first-child {
          margin-top: 1rem;
        }

        span:last-child {
          font-size: 0.9rem;
        }

        .stock {
          font-size: 1.25rem;
          font-weight: bold;
          color: var(--green-100);
        }

        .outStock {
          font-size: 1.25rem;
          font-weight: bold;
          color: var(--red-100);
        }
      }
    }
  }

  .cardFooter {
    flex: 1;
    display: flex;

    border-radius: 0 0 6px 6px;
    background-color: var(--yellow-50);

    > span {
      font-weight: bold;
    }

    > div {
      flex: 1;
      display: flex;

      border-radius: 0 0 6px 6px;

      padding: 0.5rem;

      align-items: center;
      justify-content: center;

      transition: color 0.5s, background-color 0.5s, font-weight 0.5s;

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }

      span {
        font-size: 1.1rem;
        font-weight: bold;
        margin-left: 0.5rem;
      }

      &:hover {
        color: var(--grafite);
        background-color: var(--yellow-300);
        // font-weight: bold;
      }
    }
  }
}

.itemCard + .itemCard {
  margin-top: 1.5rem;
}
