@import '../../../public/styles/__dimensions.scss';

.button {
  // display: flex;
  // flex-direction: row;
  display: flex;
  padding: 0.4rem 1.25rem;

  background-color: var(--white);

  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);

  transition: background-color 0.2s, padding-right 0.2s, padding-left 0.2s;

  align-items: center;
  text-align: center;

  font-size: 0.8rem;
  font-weight: 500;

  @media screen and (min-width: $desktop-size) {
    font-size: 1rem;
    padding: 0.8rem 1.25rem;
  }

  .content {
    flex: 1;
  }

  .bullet {
    opacity: 0;
    width: 0rem;
    height: 0rem;
    border-radius: 0.6rem;
    background-color: var(--grafite);

    transition: opacity 0.2s, margin-right .2s;
  }

  &:hover {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: var(--yellow-300);

    .bullet {
      width: 0.6rem;
      height: 0.6rem;
      margin-right: 0.25rem;

      opacity: 1;
    }
  }
}

.buttonActive {
  display: flex;
  padding: 0.4rem 1.25rem;

  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--yellow-300);

  transition: background-color 0.2s, padding-right 0.2s, padding-left 0.2s;

  align-items: center;
  text-align: center;

  font-size: 0.8rem;
  font-weight: 500;

  @media screen and (min-width: $desktop-size) {
    font-size: 1rem;
    padding: 0.8rem 1.25rem;
  }

  .content {
    flex: 1;
  }

  .bullet {
    // flex: 1;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.6rem;

    margin-right: 0.25rem;

    opacity: 1;

    background-color: var(--grafite);

    transition: opacity 0.2s, margin-right .2s;
  }
}
