@import '../../../public/styles/__dimensions.scss';

// body {
//   background: radial-gradient(#e5e5e5, #fff, #e5e5e5);
// }

// h1 {
//   margin-bottom: 2rem;
// }


.card {
  display: flex;
  flex-direction: column;

  width: 20rem;

  transition: all 0.3s;

  background-color: var(--white);

  border: 1px solid var(--gray-200);
  border-radius: 4px;

  &:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
  }

  img {
    flex: 1;
    border-radius: 4px 4px 0 0;
  }
}

.row {
  text-align: -webkit-center;
  --bs-gutter-x: 0.1rem;
}

.cardBody {
  flex: 1;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 3rem 0 !important;
}

.cardTitle {
  font-weight: bold;
}

.cardText {
  font-size: 0.9rem;
  padding: 0.4rem 2rem;

  margin-bottom: 2rem;
}

.containerFluid .row {
  padding-top: 2rem;

}

.cardButton {
  text-decoration: none;

  color: var(--grafite);
  border-color: var(--grafite);

  padding: 0.5rem 1rem;

  border: 1px solid var(--grafite);
  border-radius: 0.25rem;

  transition: all 0.3s;

  &:hover {
    color: var(--white);
    background-color: var(--grafite);
  }

}

.erps {
  padding-top: 3rem;
}
