@import '../../../public/styles/_dimensions';

.container {
  width: 18rem;
  padding: 0.75rem;

  display: flex;
  flex-direction: column;

  align-items: center;

  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.05);

  border: 1px solid var(--gray-200);
  transition: border 0.5s, border-color 0.5s, background-color 0.5s;

  cursor: pointer;

  @media screen and (min-width: $tablet_vertical) {
    width: 25rem;
    padding: 1.5rem 1rem;
  }

  &:hover {
    border: 1px solid var(--yellow-300);
    background-color: var(--white);

    > svg {
      color: var(--yellow-300);
    }

    .title {
      color: var(--yellow-300);
    }
  }

  > svg {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--grafite);

    margin-bottom: 0.25rem;

    transition: color 0.5s;

    @media screen and (min-width: $tablet_vertical) {
      width: 3rem;
      height: 3rem;
    }
  }

  .title {
    font-size: 1.5rem;
    font-weight: 700;

    color: var(--grafite);
    transition: color 0.5s;

    @media screen and (min-width: $tablet_vertical) {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1rem;
    font-weight: bold;
    color: var(--gray-250);

    margin-top: 0.25rem;

    @media screen and (min-width: $tablet_vertical) {
      font-size: 1.25rem;
    }
  }
}
