@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.parent {
  display: flex;

  flex: 1;

  height: 6rem;

  margin: 0.5rem;

  >svg {
    z-index: 2;
    position: absolute;

    cursor: pointer;

    right: 0;
    margin-right: 1.25rem;

    width: 2rem;
    height: 2rem;

    color: var(--red-100);

    opacity: 0.5;

    transition: opacity 0.5s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.importzone {
  flex: 1;

  height: 6rem;

  background-color: var(--white);
  border: 1px var(--grafite) dashed;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  outline: 0;

  transition: filter 0.5s;

  cursor: pointer;

  animation: appear 1s;

  p {
    /* width: calc(100% - 60px);
    height: calc(100% - 60px); */
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--gray-300);

    animation: appear 1s;
  }

  &:hover {
    filter: brightness(0.8);
  }
}

.uploaded {
  flex: 1;
  height: 6rem;

  background-color: var(--green-100-40);
  border: 1px var(--grafite) dashed;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  outline: 0;

  transition: filter 0.5s;

  cursor: pointer;

  animation: appear 1s;

  p {
    /* width: calc(100% - 60px);
    height: calc(100% - 60px); */
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--green-100);
    filter: brightness(0.8);

    animation: appear 1s;
  }

  svg {
    color: var(--green-100);
    width: 2rem;
    height: 2rem;

    filter: brightness(0.8);

    opacity: 0.5;
  }

  &:hover {
    filter: brightness(0.8);
  }
}


.error {
  flex: 1;

  height: 6rem;

  background-color: var(--red-100-40);
  border: 1px var(--grafite) dashed;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  outline: 0;

  transition: filter 0.5s;

  cursor: pointer;

  animation: appear 1s;

  p {
    /* width: calc(100% - 60px);
    height: calc(100% - 60px); */
    text-align: center;

    color: var(--red-100);

    animation: appear 1s;

  }

  svg {
    color: var(--red-100);
    width: 2rem;
    height: 2rem;

    opacity: 0.5;
  }

  &:hover {
    filter: brightness(0.8);
  }
}
