@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  height: calc(100vh - 10rem);

  // display: flex;
  // flex-direction: column;

  padding: 2rem;
  padding-left: 2.5rem;

  overflow-y: scroll;

  div {
    animation: appear 1s;
  }

  .header {
    display: flex;
    flex-direction: row;

    .backButton {
      display: flex;
      align-items: center;

      border: 1.25px var(--grafite) solid;
      border-radius: 4px;
      background-color: transparent;

      padding: 0.25rem 0;
      padding-right: 0.5rem;
      padding-left: 0.1rem;

      transition: color 0.2s, border-color 0.2s;

      > svg {
        width: 1.5rem;
        height: 1.5rem;
        color: var(--grafite);

        margin-right: 0.25rem;

        transition: color 0.2s;
      }

      &:hover {
        border-color: var(--yellow-300);
        color: var(--yellow-300);

        > svg {
          color: var(--yellow-300);
        }
      }
    }
  }

  .divider {
    display: flex;
    width: 100%;
    padding: 1px 0;
    margin: 1.5rem 0;
    background-color: var(--gray-300);
    opacity: 0.5;
  }

  .content {
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow: visible;

    .imagesTitle {
      font-size: 0.9rem;
      color: var(--gray-400);
    }

    .imagesContainer {
      flex: 1;
      display: flex;

      padding-top: 1.25rem;
      padding-bottom: 0.2rem;

      overflow-y: auto;

      > div + div {
        margin-left: 1rem;
      }
    }

    .doubleInputContainer {
      // flex: 1;

      flex: 1;

      display: grid;
      grid-template-columns: 1fr 2fr .5fr .5fr;
      column-gap: .75rem;

      margin-top: 2rem;
    }

    .doubleInputContainer + .doubleInputContainer {
      margin-top: 1rem;
    }

    .multipleInputContainer {
      flex: 1;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: .75rem;

      margin-top: 2rem;
    }

    .multipleInputContainer + .multipleInputContainer {
      margin-top: 1rem;
    }

    .titledContainer {
      display: flex;
      flex-direction: column;

      margin-top: 2rem;
      padding-left: 0.7rem;

      .title {
        font-size: 0.9rem;
        color: var(--gray-400);

        margin-bottom: 1rem;
      }
    }

    .variationsContainer {
      flex: 1;

      margin-top: 2rem;

      .variationsContainerTitle {
        display: grid;
        grid-template-areas: 'title title title free free';
        grid-template-columns: .5fr .5fr .5fr 1fr 1fr;
        column-gap: .75rem;

        .variationsTitle {
          grid-area: title;

          display: flex;
          flex-direction: column;

          border-bottom: 1.25px var(--gray-300) solid;

          margin-left: 0.7rem;
          padding-bottom: 1rem;

          h3 {
            color: var(--grafite);
            font-size: 1.2rem;
            font-weight: bold;

            margin-bottom: 1rem;
          }

          span {
            font-size: 0.9rem;
            color: var(--grafite);
          }
        }

      }
    }
  }
}

.footerContainer {
  // width: 100%;
  // flex: 1;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2rem;

  background-color: var(--yellow-50);

  box-shadow: 0 0 20px rgba(0,0,0,0.10), 0 -3px 6px rgba(0,0,0,0.11);

  span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  button {
    margin-left: auto;
    padding: .75rem;
  }
}
