@import '../../public/styles/_dimensions';

@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes flashing {
  0% {
    background-color: var(--grafite);
  }
  50%,
  100% {
    background-color: var(--grey-300);
  }
}

.dotFlashing {
  position: relative;

  top: .3rem;
  left: 2rem;

  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: var(--grafite);
  color: var(--grafite);
  animation: flashing 1s infinite linear alternate;
  animation-delay: .5s;

  margin-bottom: .5rem;
}

.dotFlashing::before, .dotFlashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dotFlashing::before {
  left: -.75rem;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: var(--grafite);
  color: var(--grafite);
  animation: flashing 1s infinite alternate;
  animation-delay: 0s;
}

.dotFlashing::after {
  left: .75rem;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: var(--grafite);
  color: var(--grafite);
  animation: flashing 1s infinite alternate;
  animation-delay: 1s;
}

.container {
  height: 100vh;

  display: flex;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-right: auto;

  width: 100%;
  max-width: 700px;

  background-color: var(--grafite);
}

.AnimationContainer {
  // flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: appearFromLeft 1s;
  row-gap: 1rem;

  img {
    width: 12.5rem;
    margin-top: auto;
    margin-bottom: 5rem;
  }

  > a {
    font-size: 1.2rem;
    color: var(--yellow-300);
    margin-top: 2rem;
    text-decoration: none;
    transition: filter 0.2s;

    display: flex;
    align-items: center;

    svg {
      margin-right: 16px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  form {
    // margin: 80px 0;
    flex: 1;

    margin-bottom: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: center;

    padding: 0 2rem;

    .title {
      font-size: 1.3rem;
      font-weight: bold;
      color: var(--white);
      margin-bottom: 0.5rem;
    }

    .subtitle {
      font-size: 0.9rem;
      color: var(--gray-300);
      font-weight: lighter;
      margin-bottom: 2.25rem;
    }

    a {
      font-size: 1rem;
      color: var(--white);
      display: block;
      margin-top: 1.5rem;
      // margin-top: 0.5rem;
      // text-decoration: none;

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.75);
      }
    }
  }

  .errorContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
    color: var(--red-100);
    text-align: center;

    .errorMessage {
      font-size: 1.2rem;
      font-weight: 500;
    }

    svg {
      align-self: center;

      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.5rem;
    }
  }
}

.background {
  flex: 2;
  background: url('https://media-exp1.licdn.com/dms/image/C4D1BAQHe7QwF-I2DGA/company-background_10000/0/1612556505453?e=2159024400&v=beta&t=7hGu7xGPv5oMpTZFDqmGGzeJZcpe5-kyeWVv1ete-kc') no-repeat center;
  background-size: cover;
  animation: appear 1s;

  @media screen and (max-width: $cellphone) {
    display: none;
  }

  @media screen and (max-width: $tablet_vertical) {
    flex: 1;
  }
}

.buttonStyle {
  // width: 100%;
  width: 6rem;
  height: 3rem;

  margin-top: 2rem;
  padding: 0 0.75rem;

  background: var(--yellow-300);
  border-radius: 6px;
  border: 0px;

  align-self: center;

  color: var(--grafite);
  font-weight: 500;

  transition: filter 0.4s;
  /* transition: color 2s; */

  &:hover {
    filter: brightness(0.9);
  }
}
