@import '../../../public/styles/_dimensions';

.container {
  input[type='checkbox'] {
    display: none;
  }

  .lblToggleContainer {
    display: flex;
    flex-direction: row;

    margin-top: 0.25rem;
  }

  .overflowItems {
    font-size: 1rem;
    color: var(--gray-300);

    margin-left: 0.25rem;

    @media screen and (min-width: $tablet_vertical) {
      font-size: 0.75rem;
    }
  }

  .lblToggle {
    cursor: pointer;
    display: block;

    font-size: 1rem;
    text-decoration: underline;
    color: var(--yellow-300);

    @media screen and (min-width: $tablet_vertical) {
      font-size: 0.75rem;
      color: var(--grafite);
    }
  }

  .collapsibleContent {
    height: 0px;
    overflow: hidden;

    transition: height .25s ease-in-out;
  }

  .collapsibleContentShow {
    height: fit-content;
    overflow: hidden;

    transition: height .25s ease-in-out;
  }

  .hidden {
    display: none;
  }
}
