.tableItem {
  height: 5rem;
  align-items: center;
  margin: 1rem 1rem;

  text-align: center;

  transition: background-color 0.2s;

  &:hover {
    background-color: var(--yellow-50);
  }

  td {
    padding: 1.25rem 1rem;
  }

  #imgCell {
    width: 10rem;
    padding: 0 1rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    img {
      height: 6rem;
      object-fit: fill;
      // max-height: 5rem;
    }
  }

  #nameCell {
    text-align: left;
  }

  #dateCell {
    width: 8rem;
  }

  #valueCell {
    width: 12rem;
  }

  #actionCell {
    width: 10rem;
    cursor: pointer;
    text-decoration: underline;
  }

  #editCell {
    width: 8rem;
    cursor: pointer;
  }

  #switchCell {
    width: 3.5rem;
    // display: flex;

    // justify-content: center;
    // flex-direction: column;

    .switchSubtitle {
      font-size: 0.8rem;
      font-weight: lighter;
    }
  }
}

.greenText {
  color: var(--green-100);
}

.redText {
  color: var(--red-100);
}

.orangeText {
  color: var(--orange-100);
}

.blueText {
  color: var(--blue-100);
}

.grayText {
  color: var(--gray-300);
}
