@import '../../../../public/styles/__dimensions.scss';

@keyframes appear {
  0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }

.container{
  height: calc(100vh - 6rem);

  @media screen and (min-width: $desktop-small-size) {
    height: calc(100vh - 5rem);
  }


  display: flex;
  flex-direction: column;

  overflow: auto;

  padding: 2rem;
  // padding-left: 2.5rem;

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr .5fr;
    column-gap: 1rem;

    @media screen and (min-width: $desktop-size) {
      display: flex;
      flex-direction: row;

      button + button {
        margin-left: 2rem;
      }
    }

    @media screen and (min-width: $tablet_vertical) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr .5fr;
      column-gap: 1.5rem;

      button + button {
        margin-left: 0;
      }
    }

    @media screen and (min-width: $desktop-size) {
      display: flex;
      flex-direction: row;
      column-gap: 0;

      button + button {
        margin-left: 1.5rem;
      }
    }
  }

  .divider {
    display: flex;
    width: 100%;
    padding: 1px 0;
    margin: 1.5rem 0;
    background-color: var(--gray-300);
    opacity: 0.5;
  }

  .content {
    flex: 1;

    display: flex;
    flex-direction: column;

    .contentHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 1rem;

      h4 {
        font-size: 1.25rem;
        font-weight: lighter;
        color: var(--gray-300);
      }

      button {
        padding: 0.8rem 1rem;

        font-weight: lighter;

        &:disabled {
          cursor: not-allowed;

          opacity: 0.25;
          filter:grayscale(1);
        }
      }
    }

    .contentBody {
      flex: 1;

      display: flex;
      flex-direction: column;

      @media screen and (min-width: $tablet_vertical) {
        flex-direction: row;
      }

      .nationalityContainer {
        display: flex;

        > button + button {
          margin-left: 0.5rem;
        }

        @media screen and (min-width: $tablet_vertical) {
          flex-direction: column;

          margin-bottom: 0;

          > button + button {
            margin-left: 0;
            margin-top: 0.5rem;
          }
        }
      }

      .categoriesContainer {
        width: 100%;

        display: flex;
        flex-direction: column;

        margin-top: 1rem;
        padding: 0.8rem;

        @media screen and (min-width: $tablet_vertical) {
          flex-direction: row;

          margin-top: 0;
          margin-left: 0.5rem;
        }

        border: 1px var(--yellow-300) solid;
        border-radius: 4px;

        background-color: var(--white);

        animation: appear 0.5s;

        .categoryContainer {
          display: flex;

          overflow: auto;

          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */

          &::-webkit-scrollbar {
            display: none;
          }

          > button + button {
            margin-left: 0.5rem;
          }

          @media screen and (min-width: $tablet_vertical) {
            flex-direction: column;

            -ms-overflow-style: auto;  /* IE and Edge */
            scrollbar-width: auto;  /* Firefox */

            &::-webkit-scrollbar {
              display: auto;
            }

            > button + button {
              margin-left: 0;
              margin-top: 0.5rem;
            }
          }
        }

        .subcategoryContainer {
          flex: 1;

          display: flex;
          flex-direction: column;
          align-items: center;

          margin-top: 1rem;

          overflow: auto;

          @media screen and (min-width: $tablet_vertical) {
            margin-top: 0;
          }

          .createButton {
            margin-top: 2.5rem;
            padding: 1rem;

            border: none;
            border-radius: 4px;
            background-color: var(--yellow-300);

            color: var(--grafite);

            transition: background-color 0.5s, color 0.5s;

            &:hover {
              background-color: var(--grafite);
              color: var(--white);
            }
          }

          .subCategories {
            align-self: stretch;
            overflow-y: auto;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: min-content 1fr;
            column-gap: 1rem;
            row-gap: 1rem;

            height: fit-content;

            padding: 1rem;

            border: 1px var(--yellow-300) solid;
            border-radius: 4px;

            background-color: var(--white);
            border-radius: 4px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.09), 0 3px 5px rgba(0,0,0,0.12);

            animation: appear 0.5s;

            @media screen and (min-width: $tablet_vertical) {
              column-gap: 0.5rem;
              row-gap: 0.5rem;

              margin-left: 0.5rem;
            }

            .subCategoryButton {
              padding: 0.8rem;

              border: 1px var(--gray-400) solid;

              background-color: var(--white);
              border-radius: 4px;

              transition: color 0.2s, background-color 0.2s;

              &:hover {
                color: var(--grafite);

                background-color: var(--yellow-300);
              }
            }

            .subCategoryActiveButton {
              color: var(--grafite);

              padding: 0.8rem;

              border: 1px var(--gray-400) solid;

              background-color: var(--yellow-300);
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}
