@keyframes appear {
  0% {
    opacity: 0;
    padding: 0;
  }
  50% {
    opacity: 0.1;
    padding: 1.25rem;
  }
  100%{
    opacity: 0;
    padding: 0
  }
}

.parent {
  width: 100%;
  height: 100%;

  margin: 0.25rem;

  display: flex;
  flex-direction: column;
  align-self: center;

  position: relative;
}

.checked {
  display: flex;
  align-items: center;

  border: var(--green-100) solid 1.5px;
  background-color: var(--green-100);

  padding: 0.15rem;

  transition: all ease-out 0.5s;

  svg {
    width: 1rem;
    height: 1rem;

    align-self: center;
    justify-self: center;

    color: var(--white);
  }

  &:hover {
    filter: brightness(1.1);

    // &::before {
    //   transform: translateX(-30%);
    //   position: absolute;

    //   content: '';
    //   z-index: -1;

    //   background-color: var(--grafite);
    //   border-radius: 50%;
    //   padding: 1rem;

    //   opacity: 0;

    //   animation: appear 1.5s ease-in-out;
    // }
  }
}

.unchecked {
  display: flex;
  align-items: center;

  border: var(--grafite) solid 1.5px;
  background-color: transparent;

  padding: 0.15rem;

  opacity: 0.5;

  transition: all ease-in-out 0.5s;

  svg {
    width: 1rem;
    height: 1rem;

    align-self: center;
    justify-self: center;

    color: transparent;
  }

  &:hover {
    border: var(--green-100-25) solid 1.5px;
    background-color: var(--green-100-25);

    svg {
      color: var(--white);
    }
  }
}


.container {

  padding: 0.25rem 1rem;

  // background: #FFFFFF;
  // border-radius: 4px;
  // box-shadow: 0 0 24px rgba(0,0,0,0.05), 0 0 6px rgba(0,0,0,0.1);

  transition: border-color 0.4s, color 0.4s, box-shadow 0.4s;

  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    color: var(--grafite);
    font-weight: bold;
    font-size: .7rem;

    // margin-top: -.5rem;
    margin: 0.5rem 0;
  }
}

.containerDisabled {
  margin: 0.25rem;

  padding: 0.75rem 1rem;

  background: var(--gray-100);
  border-radius: 4px;
  box-shadow: 0 0 24px rgba(0,0,0,0.05), 0 0 6px rgba(0,0,0,0.1);

  opacity: 0.9;

  transition: border-color 0.5s, color 0.5s, box-shadow 0.5s, opacity 0.5s;

  div {
    width: 100%;

    opacity: 0.5;

    label {
      color: var(--gray-250);
      font-size: .73rem;

      margin-top: -.5rem;
      margin-bottom: 0.25rem;
    }
  }
}

.containerError {
  margin: 0.25rem;

  padding: 0.75rem 1rem;

  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 24px var(--red-100-40), 0 0 6px var(--red-100-60);

  transition: border-color 0.4s, color 0.4s, box-shadow 0.4s;

  div {
    width: 100%;

    label {
      color: var(--red-100);
      font-size: .73rem;

      margin-top: -.5rem;
      margin-bottom: 0.25rem;
    }
  }
}

.containerFocused {
  margin: 0.25rem;

  padding: 0.75rem 1rem;

  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 20px var(--yellow-300-40), 0 0 6px var(--yellow-300-60);

  transition: border-color 0.4s, color 0.4s, box-shadow 0.4s;

  div {
    width: 100%;

    label {
      color: var(--gray-300);
      font-size: .73rem;

      margin-top: -.5rem;
      margin-bottom: 0.25rem;
    }
  }
}

.containerFilled {
  margin: 0.25rem;

  padding: 0.75rem 1rem;

  background: #FFFFFF;
  border-radius: 4px;

  box-shadow: 0 0 20px var(--green-100-40), 0 0 6px var(--green-100-40);

  transition: border-color 0.4s, color 0.4s, box-shadow 0.4s;

  div {
    width: 100%;

    label {
      color: var(--gray-300);
      font-size: .73rem;

      margin-top: -.5rem;
      margin-bottom: 0.25rem;
    }

    input {
      color: var(--grafite);

      width: 100%;
      height: 100%;

      background: transparent;
      border: 0;

      &::placeholder {
        color: var(--grafite);
        opacity: .75;
      }
    }
  }
}


.error {
  width: 100%;

  font-size: .8rem;
  color: var(--red-100);
  text-align: left;

  padding-left: 1rem;
  margin-bottom: 0.5rem;
}
