.imageCard {
  position: relative;
  display: flex;
  flex-shrink: 0;

  width: 10rem;
  height: 10rem;

  background-color: var(--white);
  border: 1px var(--gray-300) solid;
  border-radius: 4px;

  animation: appear 1s;

  transition: position 0.2s;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .imageDelete {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    z-index: 3;

    > svg {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.25rem;

      color: var(--white);
      background-color: var(--red-100);
      border-radius: 1rem;

      cursor: pointer;

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
