.container {
  position: absolute;
  right: 1.5rem;

  display: flex;
  flex-direction: column;

  background: var(--white);
  margin-top: 2rem;

  border-radius: 4px;
  box-shadow: 0 7px 32px rgba(0,0,0,0.25), 0 5px 20px rgba(0,0,0,0.22);

  transform: translateY(60%);

  &::before {
    content: '';
    border-style: solid;
    border-color: var(--white) transparent;
    border-width: 0px 6px 6px 6px;
    // top: 100%;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .header {
    cursor: default;
    display: flex;
    align-items: center;

    border-bottom: 1px solid var(--gray-300);

    span {
      width: 100%;
      padding: 0.25rem 0;
      margin-left: 0.5rem;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;

      color: var(--grafite);
    }

    > svg {
      cursor: pointer;
      display: flex;
      background-color: var(--gray-200);
      padding: 0.25rem;
      border-radius: 0 4px 0 0;

      width: 1.75rem;
      height: 1.75rem;
      margin-left: auto;
    }
  }
}
