.outside {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;

  z-index: 10;
}

.container {
  z-index: 11;

  position: absolute;
  right: 2rem;

  display: flex;
  flex-direction: column;

  background: var(--white);
  // margin-top: 2rem;
  // margin-bottom: 3rem;

  border-radius: 4px;
  box-shadow: 0 7px 32px rgba(0,0,0,0.25), 0 5px 20px rgba(0,0,0,0.22);

  // transform: translateY(60%);
  transform: translateY(-10rem);

  &::before {
    content: '';
    border-style: solid;
    border-color: var(--white) transparent;
    position: absolute;
    border-width: 0px 6px 6px 6px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(90%) rotate(180deg);

    // border-width: 0px 6px 6px 6px;
    // bottom: 100%;
    // left: 50%;
    // transform: translateX(-50%);
  }

  .header {
    cursor: default;
    display: flex;
    align-items: center;

    border-bottom: 1px solid var(--gray-300);

    span {
      width: 100%;
      padding: 0.25rem 0;
      margin-left: 0.5rem;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;

      color: var(--grafite);
    }

    > svg {
      cursor: pointer;
      display: flex;
      background-color: var(--gray-200);
      padding: 0.25rem;
      border-radius: 0 4px 0 0;

      width: 1.75rem;
      height: 1.75rem;
      margin-left: auto;
    }
  }
}
