@import '../../../public/styles/__dimensions.scss';

.productsContainer {
  display: flex;
  flex-direction: column;

  height: calc(100% - 4rem);
  width: 100%;

  overflow: auto;

  padding: 2rem;
  padding-left: 2.5rem;

  .productsHeader {
    min-height: 3rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr .5fr;
    column-gap: 1rem;

    @media screen and (min-width: $desktop-size) {
      display: flex;
      flex-direction: row;

      button + button {
        margin-left: 2rem;
      }
    }
  }

  .divider {
    width: 100%;
    padding: 1px 0;
    margin: 1.5rem 0;
    background-color: var(--gray-300);
    opacity: 0.5;
  }

  .productsContent {
    // flex: 1;
    display: flex;
    flex-direction: column;

    // height: 20%;

    .tableContainer {
      flex: 1;
      display: flex;

      .orderStatusButtons {
        margin-right: 2.25rem;

        > div + div {
          margin-top: 1rem;
        }
      }
    }

    .productsOptions {
      margin-bottom: 1rem;

      .contentFilters {
        width: 50%;
        flex: 1;
        display: flex;
        flex-direction: row;

        align-items: center;

        button + button {
          margin-left: 1rem;
        }

        form {
          flex: 1;
        }
      }
    }

    .emptyList {
      flex: 1;
      height: 100%;
      margin-top: auto;
      margin-bottom: auto;
      justify-self: center;
      align-self: center;
      text-align: center;

      color: var(--gray-300);
    }

    .tableContainer {
      flex: 1;

      .table {
        flex: 1;

        border: 1px solid var(--yellow-300);
        border-radius: 4px;
        box-shadow: 0 2px 3px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.05);

        margin-top: 0.5rem;

        .tableHeader {
          flex: 1;
          th {
            text-align: left;
            padding: 1rem 1rem;
            font-size: 0.8rem;
            font-weight: bold;
          }

          th:first-child {
            padding-left: 1rem;
          }
        }

        .tableBody {
          flex: 1;

          padding: 0 0.5rem;
          background-color: var(--white);
        }
      }
    }
  }
}

.greenText {
  color: var(--green-100);
}

.redText {
  color: var(--red-100);
}

.orangeText {
  color: var(--orange-100);
}

.blueText {
  color: var(--blue-100);
}

.grayText {
  color: var(--gray-300);
}


.loadingContainer {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: var(--gray-100);
  opacity: 0.75;

  z-index: 10;
}

.modalContent {
  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: center;

  .loader {
    align-self: center;
    border: 1rem solid var(--gray-100);
    border-top: 1rem solid var(--grafite);
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    animation: spin 2s linear infinite;
  }

  p {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--grafite);
  }

  > svg {
    width: 5rem;
    height: 5rem;

    margin-bottom: 2rem;
  }
}
