@import '../../../public/styles/__dimensions.scss';

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sellsContainerShorter {
  // min-height: 100%;
  display: flex;
  flex-direction: column;

  overflow: auto;
  height: calc(100vh - 11rem);

  padding: 2rem;

  transition: height 0.5s;
}

.sellsContainer {
  // min-height: 100%;
  display: flex;
  flex-direction: column;

  overflow: auto;
  height: calc(100vh - 3rem);

  padding: 2rem;

  transition: height 0.5s;
}

.sellsHeader {
  display: flex;

  button + button {
    margin-left: 1rem;

    @media screen and (min-width: $desktop-size) {
      margin-left: 1.5rem;
    }
  }
}

.sellsContent {
  flex: 1;
  display: flex;
  flex-direction: column;

  .sellsOptions {
    margin-bottom: 1.25rem;

    .contentFilters {
      flex: 1;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        'button button button button'
        'search search search search';
      column-gap: 1.5rem;
      row-gap: 1rem;

      @media screen and (min-width: $tablet_vertical) {
        display: flex;
        flex-direction: row;

        align-items: center;
      }

      @media screen and (min-width: $desktop-size) {
        width: 80%;
      }

      > button {
        text-align: center;
      }

      .searchContainer {
        grid-area: search;

        @media screen and (min-width: $tablet_vertical) {
          display: block;

          flex: 1;
          margin-left: 2rem;
        }
      }

      .datePopupContainer {
        flex: 1;
        display: flex;
      }
    }
  }

  .itemCard {
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: stretch;

    background-color: var(--white);
    border-radius: 6px;

    box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);

    .cardHeader {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;

      padding: 1rem;

      justify-items: stretch;

      .start {
        text-align: start;

        > svg {
          width: 1rem;
          height: 1rem;

          margin-right: 0.25rem;
        }
      }

      .end {
        text-align: end;

        > svg {
          width: 1rem;
          height: 1rem;

          margin-right: 0.25rem;
        }
      }
    }

    .cardDivider {
      display: flex;
      width: 100%;
      padding: 0.5px 0;
      background-color: var(--gray-300);
      opacity: 0.5;
    }

    .cardBody {
      display: flex;

      padding: 1rem;

      .products {
        > span {
          font-size: 1.1rem;
        }
      }

      .approvedItem, .processingItem, .canceledItem, .returnedItem {
        display: flex;
        flex-direction: column;

        margin-left: auto;

        align-items: center;
      }

      .approvedItem {
        color: var(--green-100);

        > svg {
          color: var(--green-100);
          width: 2rem;
          height: 2rem;

          margin-bottom: 0.25rem;
        }
      }

      .processingItem {
        color: var(--blue-100);

        > svg {
          color: var(--blue-100);
          width: 2rem;
          height: 2rem;

          margin-bottom: 0.25rem;
        }
      }

      .canceledItem {
        color: var(--red-100);

        > svg {
          color: var(--red-100);
          width: 2rem;
          height: 2rem;

          margin-bottom: 0.25rem;
        }
      }

      .returnedItem {
        color: var(--orange-100);

        > svg {
          color: var(--orange-100);
          width: 2rem;
          height: 2rem;

          margin-bottom: 0.25rem;
        }
      }
    }

    .cardFooter {
      flex: 1;
      display: flex;

      align-items: center;

      border-radius: 0 0 6px 6px;
      background-color: var(--yellow-50);

      padding: 1rem;

      > span {
        font-weight: bold;
      }

      > button, > div {
        margin-left: auto;
      }

      .detailsButton {
        padding: 0.8rem;

        border: 0;
        border-radius: 4px;
        font-size: 1rem;
        color: var(--white);
        background-color: var(--grafite);

        transition: color 0.5s, background-color 0.5s, font-weight 0.5s;

        &:hover {
          color: var(--grafite);
          background-color: var(--yellow-300);
          font-weight: bold;
        }
      }
    }
  }

  .itemCard + .itemCard {
    margin-top: 1rem;
  }

  .emptyList {
    // flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    justify-self: center;
    align-self: center;
    text-align: center;

    color: var(--gray-300);
  }
}

.greenText {
  color: var(--green-100);
}

.redText {
  color: var(--red-100);
}

.orangeText {
  color: var(--orange-100);
}

.blueText {
  color: var(--blue-100);
}

.grayText {
  color: var(--gray-300);
}

.divider {
  display: flex;
  width: 100%;
  padding: 1px 0;
  margin: 1.5rem 0;
  background-color: var(--gray-300);
  opacity: 0.5;
}

.verticalDivider {
  display: flex;
  width: 1.7px;
  height: 2.2rem;
  margin: 0 0.75rem;
  background-color: var(--gray-300);
  opacity: 0.5;
}

.sellsFooter {
  display: flex;

  width: 100vw;
  // height: 30rem;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  overflow-x: auto;

  animation: appear 1s;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  .orderStatusButtons {
    display: flex;
    min-height: min-content;
    // grid-template-columns: reapeat(5, 10rem);
    // grid-template-areas: '1 2 3 4 5';
    // column-gap: 0.5rem;
    // justify-content: space-between;

    padding: 1rem;

    > div + div {
      margin-left: 1rem;
    }
  }
}
